body {
  background-color: #e6ffff
}

.header {
  background-image: linear-gradient(red, yellow);
  border: 2px lightgrey;
  border-style: solid;
}

.header-img-panel {

}

.header-img-panel img {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.header-page-title {
  text-align: center;
  vertical-align: middle;
}

.header-page-title h2 {
  font-size: 48pt;
  color: white;
  text-shadow: 2px 2px grey;
}

.header-page-title p {
  font-size: 24pt;
  color: red;
  text-shadow: 1px 1px black;
}

#user-info-panel {
  border: 2px lightgrey;
  border-style: solid;
}

#user-info-header {
  background-image: linear-gradient(red, yellow);
  color: white;
  text-shadow: 1px 1px grey;
}

#user-info-body {
  background-color: black;
  color: yellow;
  text-shadow: 1px 1px grey;
}

#user-info-submit-button {
  color: yellow;
  text-shadow: 1px 1px grey;
  margin: 0 auto;
  display: block;
}

#pizza-order-panel {
  border: 2px lightgrey;
  border-style: solid;
}

#pizza-order-header {
  background-image: linear-gradient(red, yellow);
  border: 2px lightgrey;
  border-style: solid;
  text-shadow: 1px 1px grey;
  color: white;
}

#pizza-order-body {
  background-color: #002db3;
  color: yellow;
  text-shadow: 1px 1px black;
  font-size: 10pt;
}

#pizza-order-body label {
  text-align: center;
  font-size: 16pt;
  font-style: italic;
  text-indent: 3em;
}

#pizza-order-body button {
  margin: 0 auto;
  display: block;
}

#pizza-order-submission {
  padding: 20px;
}
